/* ------------------------------------------------------------ *	Header
\* ---------------------------------------------------------- */
.header {
  position: relative;
  z-index: 300;
  height: 100px;
  /*  Tablet Portrait  */
  /*  Mobile  */ }
  .header .columns {
    position: static; }
  .header .header-logo {
    float: left;
    margin: 32px 0 0 0; }
    .header .header-logo img {
      width: 30%;
      height: auto; }
    .header .header-logo .site-description {
      color: #27262c;
      border-left: 1px solid #eaeaeb;
      padding-left: 15px;
      margin-left: 15px;
      font-size: 16px; }
  .header .header-inner {
    float: right;
    margin-top: 31px; }
  .header .header-actions {
    float: left;
    margin-left: 10px; }
  .header .header-actions .button {
    margin: 0;
    min-width: 122px; }
  @media (max-width: 1023px) {
    .header .header-actions {
      margin-right: 50px; } }
  @media (max-width: 767px) {
    .header .header-actions {
      display: none; } }

/* Fullscreen */
.fsr-container {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover; }

.fsr-image {
  position: absolute; }

.fsr-hidden {
  display: none; }

/* ------------------------------------------------------------ *	Section Featured
\* ------------------------------------------------------------ */
.section-featured {
  padding: 85px 0 124px;
  /*  Mobile  */ }
  .section-featured .section-head {
    margin-bottom: 42px;
    text-align: center; }
    .section-featured .section-head .section-title {
      margin-bottom: 12px;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 0.05em; }
    .section-featured .section-head .section-image {
      margin-bottom: 10px; }
    .section-featured .section-head .section-image:before,
    .section-featured .section-head .section-image:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 1px;
      margin: 0 6px;
      background: #fa6f1c; }
    .section-featured .section-head p {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      line-height: 2.2; }
  @media (max-width: 767px) {
    .section-featured {
      padding: 35px 0; }
    .section-featured .section-head .section-title {
      font-size: 18px; }
    .section-featured .section-head p {
      font-size: 12px;
      line-height: 1.8; }
    .section-featured .section-head p br {
      display: none; } }

/* ------------------------------------------------------------ *	Section Updates
\* ------------------------------------------------------------ */
.section-updates {
  padding: 94px 0 31px;
  /*  Mobile  */ }
  @media (max-width: 767px) {
    .section-updates {
      padding: 35px 0; } }

/* ------------------------------------------------------------ *	Section News
\* ------------------------------------------------------------ */
.section-news {
  /*  Mobile  */ }
  .section-news .section-title {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.05em; }
  .section-news .section-title:after {
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    margin: 16px 0 35px;
    background: #fa6f1c; }
  .section-news .section-foot {
    padding: 11px 0; }
    .section-news .section-foot .section-foot-title {
      margin: 3px 45px 30px 0;
      font-size: 15px;
      font-weight: 900;
      text-transform: uppercase;
      overflow: hidden; }
    .section-news .section-foot .section-foot-title span {
      float: left;
      margin-right: 8px; }
    .section-news .section-foot .section-foot-title:after {
      content: '';
      position: relative;
      top: 11px;
      display: block;
      overflow: hidden;
      height: 1px;
      background: #dddbe8; }
  @media (max-width: 767px) {
    .section-news .section-foot .section-foot-title {
      margin-right: 0; } }

/* ------------------------------------------------------------ *	Section Upcoming Event
\* ------------------------------------------------------------ */
.section-upcoming-event {
  position: relative;
  padding-left: 40px;
  /*  Tablet Portrait  */
  /*  Mobile  */ }
  .section-upcoming-event:before {
    content: '';
    position: absolute;
    left: -15px;
    top: -15px;
    bottom: 0;
    width: 1px;
    background: #dddbe8; }
  .section-upcoming-event .section-head {
    overflow: hidden; }
  .section-upcoming-event .section-head-actions {
    float: right; }
  .section-upcoming-event .section-head-actions .button {
    margin: 0; }
  .section-upcoming-event .section-title {
    margin-bottom: 0;
    float: left;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.05em; }
  .section-upcoming-event .section-title:after {
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    margin: 16px 0 35px;
    background: #fa6f1c; }
  @media (max-width: 1023px) {
    .section-upcoming-event {
      padding-left: 0; } }
  @media (max-width: 767px) {
    .section-upcoming-event .section-head {
      margin-bottom: 15px; }
    .section-upcoming-event .section-head-actions {
      float: none;
      margin-top: -15px; }
    .section-upcoming-event .section-title {
      float: none; } }

/* ------------------------------------------------------------ *	Section Staff
\* ------------------------------------------------------------ */
.section-our-staff .section-head {
  padding: 50px 0 3px;
  border-top: 1px solid #dddbe8; }

.section-our-staff .section-title {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05em; }

.section-our-staff .section-title:after {
  content: '';
  display: block;
  width: 40px;
  height: 1px;
  margin: 17px 0 35px;
  background: #fa6f1c; }

/* ------------------------------------------------------------ *	Section Staff
\* ------------------------------------------------------------ */
.section-staff {
  padding: 71px 0 70px;
  /*  Mobile  */ }
  @media (max-width: 767px) {
    .section-staff {
      padding: 35px 0; } }

/* ------------------------------------------------------------ *	Footer
\* ------------------------------------------------------------ */
.footer {
   width: 81.5%;
   border-top:1px solid #f6f6f6;
   border-left:1px solid #f6f6f6;
   border-right:1px solid #f6f6f6;
  /*  Tablet Portrait  */
  /*  Mobile  */ }
.footer .footer-section .footer-section-title {
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em; }
.footer .footer-section .footer-section-title:after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    margin: 15px 0 15px;
    /* background: #fa6f1c; */}
.footer .footer-section .footer-section-body {
    overflow: hidden; }
.footer .footer-section .footer-section-body > p {
    margin-bottom: 25px;
    letter-spacing: 0.025em; }
.footer .footer-body {
    padding: 85px 0;
    background: #27262c url(images/footer-bg.png) no-repeat center 0; }
.footer .footer-contacts {
    letter-spacing: 0.025em; }
.footer .footer-contacts span {
      color: #fff; }
.footer .footer-contacts p {
      margin: 0 0 12px; }
    .footer .footer-contacts a {
      color: inherit; }
    .footer .footer-contacts a:hover {
      color: #fff; }
    .footer .footer-contacts .fa {
      min-width: 14px;
      margin-right: 7px; }
  .footer .footer-bar {
    padding: 15px 0;
    background: #222126; }
  .footer .footer-credits {
    float: left;
    letter-spacing: 0.025em; }
    .footer .footer-credits p {
      margin: 0;
      line-height: 2.2; }
    .footer .footer-credits a {
      color: #fff; }
    .footer .footer-credits a:hover {
      opacity: .7; }
  .footer .footer-socials {
    float: right; }
    .footer .footer-socials ul {
      margin: 0;
      list-style: none outside none;
      overflow: hidden; }
    .footer .footer-socials li {
      float: left; }
    .footer .footer-socials li + li {
      margin-left: 24px; }
    .footer .footer-socials a {
      display: block;
      padding: 0 3px;
      color: inherit;
      font-size: 18px; }
    .footer .footer-socials a {
      -webkit-transition: color 0.2s ease-out;
      -o-transition: color 0.2s ease-out;
      transition: color 0.2s ease-out; }
    .footer .footer-socials a:hover {
      color: #fff; }
  @media (max-width: 1023px) {
    .footer .footer-section {
      margin-bottom: 30px; }
      .footer .footer-section .footer-section-title:after {
        margin: 10px 0; }
      .footer .footer-section .footer-section-body > p {
        margin-bottom: 10px; }
    .footer .footer-body {
      padding: 40px 0; } }
  @media (max-width: 767px) {
    .footer .footer-credits,
    .footer .footer-socials {
      float: none;
      text-align: center; }
      .footer .footer-credits ul,
      .footer .footer-socials ul {
        display: inline-block;
        vertical-align: top; }
    .footer .footer-credits p {
      margin-bottom: 10px;
      line-height: 1.3; }
    .footer .footer-body {
      padding-bottom: 0; } }

/* ------------------------------------------------------------ *	Main
\* ------------------------------------------------------------ */
.main {
  /*  Mobile  */ }
  .main .main-head {
    position: relative;
    height: 210px;
    background: #dfd5cc; }
    .main .main-head .main-head-image {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
    .main .main-head .main-head-content {
      position: relative;
      z-index: 10;
      padding-top: 60px; }
    .main .main-head .main-title {
      margin-bottom: 15px;
      font-size: 24px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 0.1em; }
      .main .main-head .main-title.main-title-alt {
        color: #fff; }
  @media (max-width: 767px) {
    .main .main-head {
      height: 160px; }
      .main .main-head .main-head-content {
        padding-top: 20px; }
      .main .main-head .main-title {
        font-size: 18px; } }

/* ------------------------------------------------------------ *	Sidebar
\* ------------------------------------------------------------ */
.sidebar {
  /*margin-top: 3.5em; */
  padding: 1em;
  /*  Mobile  */ }
  .sidebar:before {
    /*content: ''; */
    position: absolute;
    left: -50px;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #e8e6e7; }
  @media (max-width: 767px) {
    .sidebar {
      padding: 0 0 35px; } }

/* ------------------------------------------------------------ *	Content
\* ------------------------------------------------------------ */
.content {
  padding: 60px 0 28px;
  /*  Mobile  */ }
  @media (max-width: 767px) {
    .content {
      padding: 35px 0; } }

/* ------------------------------------------------------------ *	Button
\* ------------------------------------------------------------ */
.button {
  padding: 11px 15px 12px;
  background: transparent;
  border: 2px solid #fa6f1c;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fa6f1c; }
  .button:hover,
  .button:focus {
    background: #fa6f1c;
    color: #fff; }
  .button.button-white {
    border-color: #fff;
    color: #fff; }
  .button.button-orange {
    background: #fa6f1c;
    color: #fff; }
  .button.button-orange:hover {
    background: #fff;
    color: #fa6f1c; }
  .button.button-facebook {
    padding: 8px 15px 7px;
    background: #3a559f;
    color: #fff;
    border-color: #3a559f;
    font-size: 13px; }
  .button.button-facebook .fa {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    font-size: 18px; }
  .button.button-facebook:hover {
    background: #fff;
    color: #3a559f; }

/* ------------------------------------------------------------ *	Button Menu
\* ------------------------------------------------------------ */
.button-burger {
  display: none;
  position: absolute;
  right: 20px;
  top: 40px;
  height: 9px;
  padding-top: 9px;
  /*  Tablet Portrait  */ }
  .button-burger span {
    position: relative;
    display: block;
    width: 25px;
    height: 15px;
    border-top: 3px solid #27262c; }
  .button-burger span:before,
  .button-burger span:after {
    position: absolute;
    width: 100%;
    height: 3px;
    background: #27262c;
    content: ''; }
  .button-burger span:before {
    top: -9px; }
  .button-burger span:after {
    top: 3px; }
  .button-burger span:before,
  .button-burger span:after,
  .button-burger span {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .button-burger.active span {
    border-color: transparent; }
  .button-burger.active span:before,
  .button-burger.active span:after {
    background: #fa6f1c; }
  .button-burger.active span:before {
    -webkit-transform: rotate(45deg) translate(2.5px, 6px);
    transform: rotate(45deg) translate(2.5px, 6px); }
  .button-burger.active span:after {
    -webkit-transform: rotate(-45deg) translate(2.5px, -6px);
    transform: rotate(-45deg) translate(2.5px, -6px); }
  @media (max-width: 1023px) {
    .button-burger {
      display: block; } }

/* ------------------------------------------------------------ *	Navigation
\* ------------------------------------------------------------ */
.nav {
  position: relative;
  z-index: 200;
  float: left;
  /*  Small Desktop  */
  /*  Tablet Portrait  */ }
  .nav ul {
    list-style: none outside none; }
  .nav > ul {
    float: left;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; }
    .nav > ul > li {
      position: relative;
      float: left;
      margin: 0 13px 0 14px;
      padding: 5px 0 30px; }
      .nav > ul > li > span {
        display: none; }
      .nav > ul > li > a {
        display: block;
        padding: 5px 0;
        color: #27262c; }
      .nav > ul > li > a {
        -webkit-transition: color 0.2s ease-out;
        -o-transition: color 0.2s ease-out;
        transition: color 0.2s ease-out; }
      .nav > ul > li > a:hover,
      .nav > ul > li.current-menu-item > a {
        color: #fa6f1c; }
      .nav > ul > li > ul {
        position: absolute;
        left: 0;
        top: 100%;
        width: 240px;
        margin: 0;
        padding: 26px 0 30px;
        background: #27262c;
        visibility: hidden;
        opacity: 0; }
        .nav > ul > li > ul {
          -webkit-transition: all 0.2s ease-out;
          -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out; }
        .nav > ul > li > ul > li + li {
          margin-top: 17px; }
        .nav > ul > li > ul > li > a {
          display: block;
          padding: 4px 28px;
          color: #fff;
          border-right: 3px solid transparent; }
        .nav > ul > li > ul > li > a {
          -webkit-transition: border 0.2s ease-out;
          -o-transition: border 0.2s ease-out;
          transition: border 0.2s ease-out; }
        .nav > ul > li > ul > li > a:hover,
        .nav > ul > li > ul > li.current-menu-item > a {
          border-right: 3px solid #fa6f1c; }
      .nav > ul > li:hover > ul {
        visibility: visible;
        opacity: 1; }
  @media (max-width: 1199px) {
    .nav > ul {
      font-size: 13px; }
      .nav > ul > li {
        margin: 0 10px;
        height: 69px; }
        .nav > ul > li > ul {
          font-size: 13px; } }
  @media (max-width: 1023px) {
    .nav {
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      background: #fff; }
      .nav > ul {
        float: none; }
        .nav > ul > li {
          float: none;
          margin: 0;
          height: auto;
          padding: 0;
          border-top: 1px solid #f0eeee; }
          .nav > ul > li > span {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            line-height: 38px;
            width: 38px;
            text-align: center;
            border-left: 1px solid #f0eeee; }
          .nav > ul > li > a {
            display: block;
            padding: 8px 15px; }
          .nav > ul > li > ul {
            display: none;
            position: static;
            width: auto;
            visibility: visible;
            opacity: 1;
            padding: 0; }
            .nav > ul > li > ul {
              -webkit-transition: none;
              -o-transition: none;
              transition: none; }
            .nav > ul > li > ul > li + li {
              margin-top: 0; }
            .nav > ul > li > ul > li > a {
              padding: 10px 25px; } }

/* ------------------------------------------------------------ *	Latest News
\* ------------------------------------------------------------ */
.latest-news-items {
  list-style: none outside none; }
  .latest-news-items .latest-news-item {
    overflow: hidden;
    margin-bottom: 10px;
    padding-right: 25px; }
    .latest-news-items .latest-news-item .latest-news-item-image {
      float: left;
      width: 80px;
      margin-right: 20px; }
    .latest-news-items .latest-news-item .latest-news-item-content {
      overflow: hidden; }
      .latest-news-items .latest-news-item .latest-news-item-content h4 {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.05em; }
      .latest-news-items .latest-news-item .latest-news-item-content h4 a {
        color: #27262c; }
      .latest-news-items .latest-news-item .latest-news-item-content h4 a:hover {
        color: #fa6f1c; }
      .latest-news-items .latest-news-item .latest-news-item-content p {
        margin: 0; }

/* ------------------------------------------------------------ *	Event
\* ------------------------------------------------------------ */
.events {
  list-style: none outside none;
  margin: 0 -15px; }
  .events li {
    padding: 0 15px; }

.event {
  padding-bottom: 10px;
  margin-bottom: 41px; }
  .event .event-image {
    margin-bottom: 35px; }
  .event .event-image img {
    width: 100%; }
  .event .event-title {
    margin-bottom: 18px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.05em;
    line-height: 1.7; }
  .event .event-title a {
    color: #27262c; }
  .event .event-title a:hover {
    color: #fa6f1c; }
  .event .event-meta {
    margin-bottom: 28px;
    font-size: 14px;
    color: #52505b;
    letter-spacing: 0.05em; }
  .event .event-meta .fa {
    margin-right: 3px; }
  .event .event-meta span {
    display: inline-block;
    vertical-align: top;
    padding-right: 25px;
    white-space: nowrap; }
  .event .event-entry {
    margin-bottom: 32px;
    letter-spacing: 0.025em; }
  .event .event-entry p {
    margin-bottom: 0; }
  .event .event-actions .button {
    display: inline-block;
    vertical-align: middle;
    padding: 9px 18px; }
  .event .event-actions .button-facebook {
    padding: 7px 15px 8px;
    margin-left: 4px; }
  .event .event-actions .button-facebook .fa {
    margin: 0; }

/* ------------------------------------------------------------ *	Event Alt
\* ------------------------------------------------------------ */
.event-alt {
  padding-bottom: 10px; }
  .event-alt .event-image {
    margin-bottom: 27px; }
  .event-alt .event-image img {
    width: 100%; }
  .event-alt .event-title {
    margin-bottom: 14px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em; }
  .event-alt .event-title a {
    color: #27262c; }
  .event-alt .event-title a:hover {
    color: #fa6f1c; }
  .event-alt .event-meta {
    margin-bottom: 24px;
    font-size: 14px;
    color: #52505b;
    letter-spacing: 0.05em; }
  .event-alt .event-meta .fa {
    margin-right: 3px; }
  .event-alt .event-meta span {
    display: inline-block;
    vertical-align: top;
    padding-right: 25px;
    white-space: nowrap; }
  .event-alt .event-entry {
    letter-spacing: 0.025em; }
  .event-alt .event-entry p {
    margin-bottom: 0; }

/* ------------------------------------------------------------ *	Event Small
\* ------------------------------------------------------------ */
.event-small {
  padding-bottom: 12px;
  border-bottom: 1px solid #dcdcdc; }
  .event-small .event-image {
    position: relative;
    margin-bottom: 21px; }
  .event-small .event-image img {
    width: 100%; }
  .event-small .event-date {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 52px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center; }
  .event-small .event-date small {
    display: block;
    padding: 2px 0 1px;
    background: #27262c;
    font-size: 100%; }
  .event-small .event-date span {
    display: block;
    padding: 3px 0;
    background: #fa6f1c; }
  .event-small .event-content {
    margin-bottom: 31px; }
  .event-small .event-content h4 {
    margin-bottom: 16px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.05em;
    line-height: 1.9; }
  .event-small .event-content a {
    color: #27262c; }
  .event-small .event-content a:hover {
    color: #fa6f1c; }
  .event-small .event-content p {
    letter-spacing: 0.025em; }
  .event-small .event-actions .button {
    padding: 6px 16px;
    letter-spacing: 0.05em;
    font-size: 12px; }
  .event-small .event-actions .button-facebook {
    margin-left: 12px;
    padding: 6px 14px; }
  .event-small .event-actions .button-facebook .fa {
    margin: 0;
    font-size: 14px; }

/* ------------------------------------------------------------ *	Callout
\* ------------------------------------------------------------ */
.callout {
  padding: 43px 0;
  background: #000;
  /*  Small Desktop  */
  /*  Mobile  */ }
  .callout .callout-title {
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.5; }
  .callout .callout-actions {
    padding: 18px 0;
    font-size: 0;
    text-align: right; }
  .callout .callout-actions .button {
    display: inline-block;
    vertical-align: top;
    min-width: 213px;
    margin: 0; }
  .callout .callout-separator {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase; }
  .callout .callout-separator span {
    display: inline-block;
    vertical-align: middle;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background: #54525e;
    text-align: center;
    line-height: 43px;
    font-size: 12px; }
  .callout .callout-separator:before,
  .callout .callout-separator:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 1px;
    background: #54525e; }
  @media (max-width: 1199px) {
    .callout .columns {
      width: 100%; }
    .callout .callout-title {
      text-align: center; }
    .callout .callout-actions {
      text-align: center; } }
  @media (max-width: 767px) {
    .callout .callout-separator {
      display: block;
      padding: 10px 0;
      text-align: center; }
    .callout .callout-separator:before,
    .callout .callout-separator:after {
      display: none; } }

/* ------------------------------------------------------------ *	List Links
\* ------------------------------------------------------------ */
.list-links {
  float: left;
  min-width: 120px;
  list-style: none outside none;
  margin: 0;
  list-style: none outside none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.025em; }
  .list-links li {
    padding: 6px 0; }
  .list-links a {
    color: #7d7b87; }
  .list-links a:hover {
    color: #fff; }

/* ------------------------------------------------------------ *	List Posts
\* ------------------------------------------------------------ */
.list-popular-posts {
  margin: 0;
  list-style: none outside none; }
  .list-popular-posts li {
    overflow: hidden; }
    .list-popular-posts li + li {
      margin-top: 34px; }
    .list-popular-posts li span {
      position: relative;
      float: left;
      width: 70px;
      margin-right: 17px; }
    .list-popular-posts li span:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(250, 111, 28, 0); }
    .list-popular-posts li span:after {
      -webkit-transition: background 0.2s ease-out;
      -o-transition: background 0.2s ease-out;
      transition: background 0.2s ease-out; }
    .list-popular-posts li span:hover:after {
      background: rgba(250, 111, 28, 0.83); }
    .list-popular-posts li span a {
      position: absolute;
      z-index: 10;
      left: 50%;
      top: 50%;
      color: #fff;
      font-size: 20px;
      visibility: hidden;
      opacity: 0; }
    .list-popular-posts li span a {
      -webkit-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
      -o-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%); }
    .list-popular-posts li span:hover a {
      opacity: 1;
      visibility: visible; }
    .list-popular-posts li span:hover a {
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .list-popular-posts li div {
      float: none;
      overflow: hidden; }
    .list-popular-posts li h4 {
      margin: 0 0 5px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px;
      line-height: 1.6;
      letter-spacing: 0.05em; }
    .list-popular-posts li h4 a {
      color: #27262c; }
    .list-popular-posts li h4 a:hover {
      color: #fa6f1c; }
    .list-popular-posts li p {
      margin: 0;
      font-size: 12px;
      color: #52505b;
      letter-spacing: 0.025em; }

/* ------------------------------------------------------------ *	List Radios
\* ------------------------------------------------------------ */
.list-radios {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 0;
  list-style: none outside none;
  /*  Mobile  */ }
  .list-radios li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px; }
  .list-radios input {
    display: none; }
  .list-radios input + label {
    margin: 0;
    font-size: 14px;
    color: #27262c; }
  .list-radios label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    margin: -2px 5px 0 0;
    border-radius: 50%;
    border: 1px solid #b5b5b5; }
  .list-radios input:checked ~ label:before {
    box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 10px #fa6f1c; }
  @media (max-width: 767px) {
    .list-radios {
      display: block;
      padding: 10px 0; }
    .list-radios li {
      display: block; } }

/* ------------------------------------------------------------ *	Subscribe
\* ------------------------------------------------------------ */
.subscribe {
  padding: 14px 0; }
  .subscribe .subscribe-btn {
    float: right;
    width: 50px;
    height: 40px;
    background: #fa6f1c;
    color: #fff;
    border: 0;
    cursor: pointer; }
  .subscribe .subscribe-btn:hover {
    background: #de6218; }
  .subscribe .subscribe-inner {
    overflow: hidden; }
  .subscribe .subscribe-field {
    margin: 0;
    height: 40px;
    font-size: 14px;
    padding: 0 18px;
    border: 0; }
  .subscribe .subscribe-field::-webkit-input-placeholder {
    color: #7d7b87; }
  .subscribe .subscribe-field:-moz-placeholder {
    color: #7d7b87; }
  .subscribe .subscribe-field::-moz-placeholder {
    color: #7d7b87; }
  .subscribe .subscribe-field:-ms-input-placeholder {
    color: #7d7b87; }

/* ------------------------------------------------------------ *	Breadcrumbs
\* ------------------------------------------------------------ */
.breadcrumbs {
  display: inline-block;
  vertical-align: top;
  padding: 20px 20px;
  background: #fff;
  border-radius: 0;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
  /*  Mobile  */ }
  .breadcrumbs a {
    color: #fa6f1c; }
  .breadcrumbs > *:before {
    content: '::';
    margin: 0 6px; }
  @media (max-width: 767px) {
    .breadcrumbs {
      padding: 10px; }
    .breadcrumbs > *:before {
      position: relative;
      top: -2px;
      margin: 0 2px; } }

/* ------------------------------------------------------------ *	block
\* ------------------------------------------------------------ */
.block {
    margin-bottom: 1.25em;
}


.block-views-media-coverage-block,
.block-views-news-block-1 {
    background: #fff;
    padding: 1em;
    margin-top: -15px;
}
.block .block-title {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.05em; 
}

.block .block-title:after {
    content: '';
    display: block;
/*    width: 40px;
    height: 1px;
    margin: 16px 0 30px;
    background: #fa6f1c; */
}

/* ------------------------------------------------------------ *	block Archive
\* ------------------------------------------------------------ */
.block_archive ul {
  margin: -5px 0 0;
  list-style: none outside none; }
  .block_archive ul li {
    margin-bottom: 22px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em; }
  .block_archive ul a {
    color: #75737f; }
  .block_archive ul a:hover {
    color: #fa6f1c; }
  .block_archive ul a:before {
    content: '\f105';
    display: inline-block;
    vertical-align: top;
    margin: -1px 10px -1px 0;
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: normal; }

/* ------------------------------------------------------------ *	block Categories
\* ------------------------------------------------------------ */
.block_categories ul {
  margin: -5px 0 0;
  list-style: none outside none; }
  .block_categories ul li {
    margin-bottom: 22px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em; }
  .block_categories ul a {
    color: #75737f; }
  .block_categories ul a:hover {
    color: #fa6f1c; }
  .block_categories ul a:before {
    content: '\f105';
    display: inline-block;
    vertical-align: top;
    margin: -1px 10px -1px 0;
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: normal; }

/* ------------------------------------------------------------ *	block Tagcloud
\* ------------------------------------------------------------ */
.block_tag_cloud .tagcloud {
  font-size: 0;
  margin-bottom: -8px; }
  .block_tag_cloud .tagcloud a {
    display: inline-block;
    vertical-align: top;
    padding: 5px 11px;
    margin: 0 9px 14px 0;
    border: 1px solid #27262c;
    color: #27262c;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.025em; }
  .block_tag_cloud .tagcloud a {
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  .block_tag_cloud .tagcloud a:hover {
    background: #fa6f1c;
    border-color: #fa6f1c;
    color: #fff; }

/* ------------------------------------------------------------ *	block Gallery
\* ------------------------------------------------------------ */
.block_gallery ul {
  list-style: none outside none;
  text-align: center; }
  .block_gallery ul div {
    position: relative; }
  .block_gallery ul div:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(250, 111, 28, 0); }
  .block_gallery ul div:after {
    -webkit-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out; }
  .block_gallery ul div:hover:after {
    background: rgba(250, 111, 28, 0.83); }
  .block_gallery ul div a {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    color: #fff;
    font-size: 20px;
    visibility: hidden;
    opacity: 0; }
  .block_gallery ul div a {
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); }
  .block_gallery ul div:hover a {
    opacity: 1;
    visibility: visible; }
  .block_gallery ul div:hover a {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

/* ------------------------------------------------------------ *	block Text
\* ------------------------------------------------------------ */
.block_text .block-body {
  margin: -6px 0 0; }

.block_text .block-body p {
  margin-bottom: 25px;
  letter-spacing: 0.025em; }

/* ------------------------------------------------------------ *	Post
\* ------------------------------------------------------------ */
.post {
  /*  Format Video  */
  /*  Format Quote  */
  /*  Mobile  */ }
  .post + .post {
    margin-top: 34px; }
  .post .post-title {
    margin-bottom: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.05em; }
    .post .post-title a {
      color: #27262c; }
    .post .post-title a:hover {
      color: #fa6f1c; }
  .post .post-image {
    position: relative;
    z-index: 10; }
    .post .post-image ul {
      list-style: none outside none; }
    .post .post-image .owl-nav {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%; }
    .post .post-image .owl-prev,
    .post .post-image .owl-next {
      position: absolute;
      top: -19px;
      width: 41px;
      line-height: 36px;
      cursor: pointer;
      font-size: 18px;
      color: #27262c;
      text-align: center;
      border: 1px solid #27262c; }
    .post .post-image .owl-prev,
    .post .post-image .owl-next {
      -webkit-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
    .post .post-image .owl-prev:hover,
    .post .post-image .owl-next:hover {
      background: #fa6f1c;
      border-color: #fa6f1c;
      color: #fff; }
    .post .post-image .owl-prev {
      left: 30px; }
    .post .post-image .owl-next {
      right: 30px; }
  .post .post-meta {
    position: relative;
    z-index: 200;
    padding: 11px 0 10px;
    margin-bottom: 25px;
    line-height: 26px;
    border-bottom: 1px solid #e8e6e7;
    letter-spacing: 0.025em; }
    .post .post-meta ul {
      margin: 0;
      list-style: none outside none; }
    .post .post-meta li {
      display: inline-block;
      vertical-align: top; }
    .post .post-meta li + li {
      padding-left: 19px;
      margin-left: 18px;
      border-left: 1px solid #e8e6e7; }
    .post .post-meta a {
      color: #75737f; }
    .post .post-meta a:hover {
      color: #fa6f1c; }
    .post .post-meta .fa {
      margin-right: 8px; }
    .post .post-meta .fa-large {
      font-size: 16px; }
  .post .post-author .post-author-image {
    display: inline-block;
    vertical-align: top;
    margin: -32px 6px -8px -5px;
    border-radius: 50%;
    border: 4px solid #fff;
    overflow: hidden; }
  .post .entry {
    margin-bottom: 26px; }
    .post .entry p {
      letter-spacing: 0.035em; }
  .post .post-actions .button {
    padding: 6px 17px; }
  .post.format-video .post-image:after {
    content: '';
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(39, 38, 44, 0.46); }
  .post.format-video .post-image-link {
    position: absolute;
    z-index: 20;
    left: 50%;
    top: 50%;
    font-size: 40px;
    color: #fff; }
  .post.format-video .post-image-link {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .post.format-video .post-image-link:hover {
    opacity: .7; }
  .post.format-quote .post-head {
    padding-top: 35px; }
  .post.format-quote .post-head blockquote {
    position: relative;
    padding: 58px 40px 60px;
    margin-bottom: 0;
    background: #f0f1f5; }
  .post.format-quote .post-head blockquote p {
    margin-bottom: 0;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: #27262c;
    letter-spacing: 0.05em; }
  .post.format-quote .post-head blockquote:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 63px;
    height: 50px;
    margin: -25px 0 0 -33px;
    background: url(../images/ico-quotes.png) no-repeat 0 0; }
  @media (max-width: 767px) {
    .post + .post {
      margin-top: 20px; }
    .post .post-title {
      margin-bottom: 10px;
      font-size: 16px; }
    .post .post-image .owl-prev {
      left: 10px; }
    .post .post-image .owl-next {
      right: 10px; }
    .post .post-meta {
      margin-bottom: 10px;
      line-height: 1.2; }
      .post .post-meta li {
        display: block;
        margin-bottom: 10px; }
      .post .post-meta li + li {
        display: inline-block;
        border-left: 0;
        padding-left: 0;
        margin: 0 10px 0 0; }
    .post.format-quote .post-head blockquote {
      padding: 30px 15px; }
    .post.format-quote .post-head blockquote p {
      line-height: 1.4;
      font-size: 16px; } }

/* ------------------------------------------------------------ *	Socials
\* ------------------------------------------------------------ */
.socials span {
  display: block;
  margin-bottom: 5px;
  color: #27262c;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.05em; }

.socials ul {
  margin: 0;
  list-style: none outside none;
  font-size: 0; }

.socials li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px; }

.socials li + li {
  margin-left: 6px; }

.socials a {
  display: block;
  color: #fff;
  line-height: 27px;
  width: 41px;
  text-align: center;
  border: 2px solid #000; }

.socials a {
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.socials a:hover {
  background: #fff; }

.socials .link-facebook a {
  background: #3a559f;
  border-color: #3a559f; }

.socials .link-facebook a:hover {
  background: #fff;
  color: #3a559f; }

.socials .link-twitter a {
  background: #1abdf3;
  border-color: #1abdf3; }

.socials .link-twitter a:hover {
  background: #fff;
  color: #1abdf3; }

.socials .link-googleplus a {
  background: #fa501c;
  border-color: #fa501c; }

.socials .link-googleplus a:hover {
  background: #fff;
  color: #fa501c; }

.socials .link-linkedin a {
  background: #3a7d9f;
  border-color: #3a7d9f; }

.socials .link-linkedin a:hover {
  background: #fff;
  color: #3a7d9f; }

/* ------------------------------------------------------------ *	Comments
\* ------------------------------------------------------------ */
.comments {
  /*  Mobile  */ }
  .comments h3 {
    margin-bottom: 0;
    padding-bottom: 17px;
    border-bottom: 1px solid #dcdcdc;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em; }
  .comments .commentlist {
    margin: 0 0 15px;
    list-style: none outside none; }
  .comments .comment {
    padding: 30px 0 26px; }
    .comments .comment + .comment {
      border-top: 1px solid #ebebeb; }
    .comments .comment .comment-inner {
      overflow: hidden; }
    .comments .comment .comment-image {
      float: left;
      width: 72px;
      margin-right: 20px; }
    .comments .comment .comment-content {
      overflow: hidden; }
      .comments .comment .comment-content h4 {
        margin: 0 0 11px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 0.05em; }
      .comments .comment .comment-content h4 a {
        color: #27262c; }
      .comments .comment .comment-content h4 a:hover {
        color: #fa6f1c; }
      .comments .comment .comment-content p {
        margin-bottom: 0;
        letter-spacing: 0.025em; }
    .comments .comment .comment-reply-link {
      padding: 3px 10px;
      background: #fa6f1c;
      color: #fff;
      text-transform: uppercase;
      font-size: 12px; }
    .comments .comment .comment-reply-link:hover {
      opacity: .7; }
  .comments .children {
    margin: 25px 0 0;
    border-top: 1px solid #ebebeb; }
    .comments .children .comment {
      padding-left: 60px; }
    .comments .children .comment:last-child {
      padding-bottom: 0; }
  .comments .respond h3 {
    margin-bottom: 25px; }
  .comments .respond .field,
  .comments .respond .textarea {
    padding-left: 0;
    border: 0;
    border-bottom: 2px solid #86848f;
    box-shadow: none;
    font-size: 14px; }
    .comments .respond .field:focus,
    .comments .respond .textarea:focus {
      background: #fff; }
  .comments .respond .field {
    margin-bottom: 9px;
    height: 52px; }
  .comments .respond .textarea {
    margin-bottom: 30px;
    height: 113px; }
  .comments .respond .field::-webkit-input-placeholder,
  .comments .respond .textarea::-webkit-input-placeholder {
    color: #75737f; }
  .comments .respond .field:-moz-placeholder,
  .comments .respond .textarea:-moz-placeholder {
    color: #75737f; }
  .comments .respond .field::-moz-placeholder,
  .comments .respond .textarea::-moz-placeholder {
    color: #75737f; }
  .comments .respond .field:-ms-input-placeholder,
  .comments .respond .textarea:-ms-input-placeholder {
    color: #75737f; }
  .comments .respond .button {
    padding: 6px 20px;
    font-size: 12px; }
  @media (max-width: 767px) {
    .comments .comment {
      padding: 15px 0; }
      .comments .comment .comment-image {
        width: 40px;
        margin-right: 15px; }
    .comments .children .comment {
      padding-left: 25px; }
    .comments .respond .field,
    .comments .respond .textarea {
      margin-bottom: 0; }
    .comments .respond .field {
      height: 40px; } }


/* ------------------------------------------------------------ *	Tabs
\* ------------------------------------------------------------ */
.tabs-wrapper {
  background: #ffffff;
  /*  Mobile  */ }
  .tabs-wrapper .tabs {
    margin: 0;
    list-style: none outside none;
    border: 1px solid #dcdcdc; }
    .tabs-wrapper .tabs .tab-title {
      float: left;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 0.08em;
      line-height: 52px; }
      .tabs-wrapper .tabs .tab-title + .tab-title {
        border-left: 1px solid #ececec; }
      .tabs-wrapper .tabs .tab-title a {
        display: block;
        padding: 0 8.345em;
        color: #111111;
        font-size: 13px;
        outline: none;
        background: #FFEA00; }

      .tabs-wrapper .tabs .tab-title.active a {
        margin-bottom: -1px;
        border-bottom: 1px solid #fff;
        color: #ffffff;
        background: #111111; }

      .tabs-wrapper .tabs .tab-title a:active,
      .tabs-wrapper .tabs .tab-title.active a:active {
        color: #ffffff;
        background: #111111;
      }
      .tabs-wrapper .tabs .tab-title a:hover {
        display: block;
        padding: 0 8.345em;
        color: #ffffff;
        font-size: 13px;
        outline: none;
        background: #333333;}

      .tabs-wrapper .tabs .tab-title.active a:hover {
        margin-bottom: -1px;
        border-bottom: 1px solid #fff; }

      .tabs-wrapper .tabs .tab-title .fa {
        font-size: 16px;
        color: #fa6f1c;
        margin-right: 7px; }
      .tabs-wrapper .tabs .tab-title .fa-paypal {
        color: #00457C; }
      .tabs-wrapper .tabs .tab-title .fa-money {
        color: #27262c; }
      .tabs-wrapper .tabs .tab-title .fa-cc-visa {
        color: #2C21A6; }
  .tabs-wrapper .tabs-content .content {
    padding: 19px 30px 35px;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #ececec; }

  @media (max-width: 767px) {
    .tabs-wrapper .tabs .tab-title + .tab-title {
      border-left: 0;
      border-top: 1px solid #ececec; }
    .tabs-wrapper .tabs .tab-title {
      float: none;
      line-height: 40px; }
      .tabs-wrapper .tabs .tab-title a {
        padding: 0 15px; }
      .tabs-wrapper .tabs .tab-title.active a {
        background: #fafafa; }
    .tabs-wrapper .tabs-content .content {
      padding: 15px; } }


/* ------------------------------------------------------------ *	404 Error Page
\* ------------------------------------------------------------ */
.error-title {
  font-size: 15rem; }
  @media (max-width: 767px) {
    .error-title {
      font-size: 10rem; } }

.error-subtitle {
  margin-bottom: 40px; }

/*# sourceMappingURL=style.css.map */

/************************************************************** CUSTOM LAGI ***************************/

table tr th, table tr td {
    color: #ffffff;
    background: transparent;
    font-family: "century-gothic";
    font-style: normal;
    font-weight: 500;
}

.tbody, tbody {
  border: none;
  border-top: none;
}

/*Frontmap*/
.frontmap {
  padding: auto;
  margin: auto;
}


/*Block di sidebar halaman depan*/
.front-block-1 {
  display: block;
  min-height: 200px;
  background-color: #ffee00;
}

.front-block-2 {
  display: block;
  min-height: 200px;
  background-color: #111;
}

.front-block-3 {
  display: block;
  min-height: 200px;
  background-color: #111;
}

.front-block-4 {
  display: block;
  min-height: 200px;
  background-color: #ffee00;
}

@media only screen and (max-width: 768px) {
    .front-block-4, .front-block-3, .front-block-4, .front-block-4 {
      height: auto; } }

@media only screen and (min-width: 768px) {
    .front-block-4, .front-block-3, .front-block-4, .front-block-4 {
      height: auto; } }

h3.rtecenter {
  padding: auto;
  text-align: center;
  vertical-align: middle;
  font-size: 1.1rem;
}

/********* OWL SLIDER **********************/

.owl-item .views-field-title,.owl-item .views-field-body {
  position: relative;
  top: -16em;
  left: 52%;
  z-index: 99;
  width: 45%;
  height: auto;
  color:#fffff7;
  background-color: #FFEE36;
  padding: 5px;
  ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8; 
  -khtml-opacity: 0.8;
  opacity: 0.8;       
}

@media only screen and (min-width: 767px) {
.title-slider {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 800;
  background-color: #FFEE36;
  padding: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .title-slider {
  display:none; }
}

img.logo {
  margin: 1em 3em;
}

#main-menu-links {
  padding:10px 0 10px 0;
  margin-top: 4%;
}
#main-menu-links .active{
  background-color: #ffea00;
}

#main-menu-links a {
  display: block;
  width: auto;
  text-align: center;
  padding: 1.274rem;
}

.front-block-1,.front-block-2,.front-block-3,.front-block-4{
  display: table-cell; 
  height: 14.4rem;
  vertical-align: middle;
  text-align: center; 
  padding: 1em;
}

.block-block-2, .block-block-4 {
  margin-bottom: 5%;
}

.blok-mc-front {
  position: relative;
  bottom:20em;
  left: auto;
  z-index: 99;
  width: 40%;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}
.title-mediacov-front a:hover,
.blok-mc-front a:hover {
  color: #ffffff;
}

.body-mediacov-front {
  width: 50%;
  font-size:1rem;
  color: #111;
}

/*Kalo di layar gede only*/
@media only screen and (min-width: 768px) {
.triptych-middle {
  min-height: 570px;
  border: 1px solid #f4f4f4;
  background-color: #ffffff;
}
.triptych-middle h3.block-title {
  margin-top: 14%;
  margin-left: 11%;
  margin-bottom: 13%;
  color: #fff06b;
}
.triptych-middle .view-content .item-list ul li{
  list-style-type: none;
  font-size: 1.15rem;
  margin-bottom: 10%;
}
.triptych-middle .view-content .item-list ul li a{
  color: #000000;
  text-decoration: underline;
}

.triptych-last {
  min-height: 570px;
  border: 1px solid #f4f4f4;
}

section.block.block-views.block-views-event-block {
    background: #ffffff;
    padding: 0.1em;
    /* margin: auto; */
}

.triptych-last h3.block-title {
  margin-top: 14%;
  margin-left: 11%;
  margin-bottom: 13%;
  color: #fff06b;
}
.triptych-last .view-content .item-list ul li{
  list-style-type: none;
  font-size: 1.05rem;
  margin-bottom: 10%;
}
.triptych-last .view-content .item-list ul li a{
  color: #000000;
  text-decoration: underline;
 }
}

.block-views-slider-slideshow-block {
  max-height: 530px;
  margin-bottom: -4em;
}
@media only screen and (max-width: 767px) {
  .block-views-slider-slideshow-block {
  margin-top: 1em;
  margin-bottom: -8em }
}

@media (max-width: 768px) {
  .block {
    margin-bottom: 0.25em;
    padding: 0 1.5em;
  }
}

.panel.callout{
  background-color: transparent;
  border: none;
  margin-bottom: 0;
  padding-bottom: 1em;
}

.views-field.views-field-field-news-image,
.views-field.views-field-field-media-cover-image {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    border: 1px solid #fff;
}

  /*Logo Supporters*/
.logo-supporter img {
  max-height: 9em;
  width: auto;
  padding: 1em;
  }

/*Footer*/
section.row.l-footer-columns.footer {
    background-color: #333;
    padding: 1em;
}

@media only screen and (min-width: 768px) {
footer.l-footer.panel-footer.row {
    background-color: #000;
    border-left:1px solid #f6f6f6;
    border-right:1px solid #f6f6f6;
    border-bottom:1px solid #f6f6f6;
    padding: 1em;
    color: #fff;
    width: 81.5%;
    margin-top: -1em;
    margin-bottom: 0.9em;
}
}

/*Title Area*/
#title-area {
  display: block;
  background: #f3f3f3 url(images/bg-title.jpg) repeat-x center 0;
  padding: 1.03em;
  min-height: 9em;
  height: auto;
  vertical-align: middle;
}

h1#page-title {
    background-color: #333;
    ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
   filter: alpha(opacity=90);  /* IE 5-7 */
   -moz-opacity: 0.9;          /* Netscape */
   -khtml-opacity: 0.9;        /* Safari 1.x */
   opacity: 0.9;               /* Good browsers */
    letter-spacing: 0.173em;
    line-height: 0.94em;
    padding: 5px;
    color: #FFEA00;
}
/*What we do page*/
#what-we-do {
  margin: auto;
  text-align: center;
}

/*Override Quicktabs styles*/
.block-quicktabs {
    border: 1px solid #b3b3b3;
    padding: 1em;
    background: #FFFFFF;
}

section.quicktabs-tabs.block-quicktabs.block-title {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-top: 1em;
    margin-bottom: 10px;
    background: #FFEA00;
    padding: 1em;
}

h3.block-title.block-quicktabs {
    background-color: #131313;
    padding: 1em;
    color: #FFEA00;
}

ul.quicktabs-tabs.quicktabs-style-arrows {
    /* font: bold 12px/170% Verdana; */
    border-bottom: 2px solid #ccc;
    padding: 0 10px 0 0!important;
    line-height: 25px;
    margin: 0 0 10px 0;
}

ul.quicktabs-tabs.quicktabs-style-arrows li.active a, ul.quicktabs-tabs.quicktabs-style-arrows li a:hover {
    text-decoration: none;
    background: #111 url(images/arrows.gif) no-repeat center bottom;
    border: 1px solid #ccc;
    padding: 10px 10px 4px;
}

ul.quicktabs-tabs.quicktabs-style-arrows a {
    text-decoration: none;
    background: transparent url(images/arrows.gif) no-repeat center 17px;
    padding: 10px 10px 4px;
    border: 1px solid #ccc;
}

/*Articles pages*/
.article-row {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin-top: 1em;
}

/*Detail articles pages*/
.posted {
  font-size: 12px;
  color:#222;
}
.article-image {
  margin: 0.5em auto 0.5em 0;
  border: 1px solid #fff;
}
.article-body {
  margin:0.5em 0 0.5em 0;
  
}

/*Events pages*/
.event-img {
    display: inline-block;
    width: 100%;
    margin: 1em auto;
    border: 1px solid #ccc;
    padding: 3px;
    background-color: #111;
}

.event-img img {
  padding: 2px;  
}

/*.view-media-coverage, */
.page-views {
  background: #ffffff;
  padding: 1.12em;
}

.views-column {
    margin-top: 2em;
}

.block-views-media-coverage-block-1 {
  max-height: 47em;
  margin-bottom: -6em;
}

.button-black {
  padding: 11px 15px 12px;
  background: #000000;
  border-bottom: 2px solid #FFEA00;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff; 
}
.button-black a:hover {
  color: #FFEA00;
  background: transparent; 
}
